recursive-include lidiff *.cu
recursive-include lidiff *.cpp
recursive-include lidiff *.h
recursive-include lidiff *.cuh
recursive-include lidiff *.sh
recursive-include lidiff *.txt
recursive-include lidiff *.yaml
recursive-include lidiff *.pth
include README.md
